/* Reset css */

*{
    margin: 0 ;
    padding: 0;
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
}
 ul{
    list-style: none;
 }

 a{
    text-decoration: none;
 }

 h2{
    font-size: 1.5em;
    color: #333;
 }
p{
    font-size: 1em;
    color: #777;
}

/* cabecalho */

.cabecalho{
    width: 100%;
    float: left;
    padding: 50px 8%;
    background-color: #13c7ea;
 
}

.logo{
    width: 221px;
    height: 48px;
    float: left; 
    font-size: 0;
    background: url(../img/logo.png);
}

.cabecalho form{
    width: 30%;
    float: right;
}
.cabecalho form input[type="search"]{
    width: 85%;
    float: left;
    padding: 15px 10px 15px 10px;
    border-radius: 15px 0 0 15px;
}

.cabecalho button{
    width: 15%;
    float: right;
    padding: 15px 10px;
    background-color: #3ea4d6;
    color: #fff;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.menu{
    width: 100%;
    float: left;
    background-color: #111;
    padding: 18px 8%;
}

.menu li{
    float: left;
}

.menu li a{
    color: #9d9d9d;
    margin-right: 25px;
    /* font-size: 18px; */
}

.menu li a:hover{
    color: #fff;
    /* font-size: 24px; */
    /* border: 2px solid red; */
}

/* SOCIAL-ICONS */

.social-icons{
    float: right;
}
.social-icons a{
    color: #fff;
    float: left;
    margin: 13px ;
}
.btn-facebook:hover{
    color: #3b5998;
}

.btn-google:hover{
    color: #db4a39;
}

.btn-twitter:hover{
    color: #00acee;
}

/* PRINCIPAL */

.principal{
    width: 100%;
    float: left;
    padding: 20px 8%;
}

.sobre{
    width: 70%;
    float: left;
    padding: 0 20px 20px 0;
}

.sobre h2{
    margin-bottom: 15px;

}

.sobre img{
    width: 50%;
    float: left;
    border-radius: 5px;
    margin: 0 15px;
}

/* SIDEBAR */
.onde-estamos{
    width: 30%;
    float: right;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-radius: 7px;
}

.onde-estamos h2{
    margin-bottom: 7px;
}
.onde-estamos iframe{
    width: 100%;
    height:250px ;
    margin:20px 0px ;
}
.onde-estamos li{
    color: #777;
    margin-bottom: 10px;
}
.onde-estamos i{
    margin-right: 7px;
}

/* NEWSLETTER */
.newsletter{
    width: 100%;
    float: left;
    background-color: #111;
    padding: 50px 8%;
    background-color: #111;
    /* background-color: ; */
}
.newsletter h3{
    color: #fff;
    font-size: 1.8em;
}

.newsletter p{
    color: #fff;
    font-size: 1.2em;
}

.newsletter form{
    width: 100%;
    float: right;
    margin-top: 10px;
}

.newsletter form input{
    width: 40%;
    margin-right: 1%;
    padding: 15px 10px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: initial;
    float: left;
}
.newsletter button{
    width: 18%;
    padding: 15px 10px;
    border: 1px solid #fff;
}


/* PRODUTOS */

section{
    padding-top: 14rem;
}

section h1{
    align-items: center;
    text-align: center;     
    font-size: 2rem;
}

.p produto{
    color: #111;
}

.conteiner-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}
.conteiner-produtos img:hover{
    transform: scale(0.9) translate(5px);
    cursor: pointer;
    transition: 0.3s;
}

.conteiner-produtos p{
    color: #111;
}


.produtos{
    background-color: #c8815f;
    color: #fff;
}

.produtos img{
    width: 250px;
    height: 250px;
}

.empresas{
    margin-top: 10rem;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.empresas img{
    width: 180px;
    height: 150px;   
    background-color: aliceblue;
}